@using Microsoft.AspNetCore.Identity
@using SampleWebApp.Models.OrganizationViewModels
@model OrganizationUserModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    @if (SignInManager.IsSignedIn(User))
    {
        @Html.AntiForgeryToken()

        <h3>Welcome to <b>@Model.OrganizationName.ToUpper()</b></h3>

        <p class="lead">Here are the options for organization adnministration area:</p><br />
        <p><a href="@Url.Action("Create", "Work")" class="btn btn-primary btn-lg">Create new Work</a></p><br />
        <p><a href="@Url.Action("AllWork", "Work")" class="btn btn-primary btn-lg">All Works</a></p><br />
        <p><a href="@Url.Action("AllWork", "Work", new { status = WorkStatus.Completed })" class="btn btn-primary btn-lg">View Completed Works</a></p><br />
        @*<p><a href="@Url.Action("Index", "WorkTypes")" class="btn btn-primary btn-lg">Create/Edit Work Type</a></p><br />
            <p><a href="@Url.Action("Index", "WorkReport")" class="btn btn-primary btn-lg">Work Report</a></p><br />*@

    }
</div>

