@model SampleWebApp.Models.WorkViewModels.WorkCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Work</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="WorkType" class="control-label"></label>
                    <select asp-for="WorkType" name="WorkType" class="form-control"
                            asp-items="@(new SelectList(@ViewBag.WorkTypes, "Id", "Type"))"></select>

                    <span asp-validation-for="WorkType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="control-label"></label>
                    <select asp-for="Priority" class="form-control"
                            asp-items="@(new SelectList(@ViewBag.Priority, "Text", "Value"))"></select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Deadline" class="control-label"></label>
                    <input asp-for="Deadline" class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="form-group">
                    <label asp-for="AssignedUsers" class="control-label"></label>
                    <div class="checkbox" style="margin-left: 20px;">
                        @for (int i = 0; i < Model.AssignedUsers.Count(); i++)
                        {
                            <div>
                                <input asp-for="AssignedUsers[i].IsAssigned" type="checkbox" />
                                <lable asp-for="AssignedUsers[i].Id">@Model.AssignedUsers[i].FullName</lable>
                            </div>

                            <input asp-for="@Model.AssignedUsers[i].Id" type="hidden" />
                            <input asp-for="@Model.AssignedUsers[i].FullName" type="hidden" />
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllWork">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}